
.modalContainer {
	background-color: var(--white);
	border-radius: 4px;
	width: 550px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	padding: 20px 30px;
	box-sizing: border-box;
	font-family: sans-serif;
	position: relative;
}

	.modalContainer header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: 2px solid var(--blue);
		margin-bottom: 20px;
		padding-bottom: 20px;
}

		header h1 {
			color: var(--blue-text);
			font-size: .86rem;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0;
		}

		header button {
			background: none;
			border: none;
			font-weight: 700;
			color: var(--blue);
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2px;
		}

	.modalContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

		.modalLeft {
			display: block;
			width: 97%;
		}
			.modalLeftHidden { display: none; }
			.modalLeftTitle {
				font-family: "Poppins", sans-serif;
				font-weight: 500;
				font-size: .8rem;
				color: var(--email-label);
				margin-bottom: 5px;
			}
			.modalInputBox {
				display: flex;
				align-items: center;
				border: 1px solid var(--email-input-border);
				border-radius: 5px;
				font-size: 1rem;
				padding: 10px;
				background: var(--email-input-background);
				outline: var(--email-input-border);
				color: var(--email-input-foreground);
			}
				.modalInput {
					border: none;
					margin-left: 6px;
					flex: 1;
					outline: none;
					font-family: "Poppins", sans-serif;
					font-size: .8rem;
				}
			.modalTableBox {
				margin-top: 10px;
				border-radius: 4px;
				border: 1px solid var(--email-input-border);
				
			}
				.modalTableBoxTitle {
					font-family: "Poppins", sans-serif;
					font-weight: 700;
					font-size: .8rem;
					border-bottom: 1px solid var(--email-input-border);
					color: var(--email-label);
					margin-bottom: 5px;
					padding: 10px;
					background-color: var(--background-cards);
				}
				.modalTableList {
					list-style: none;
					height: 414px;  /* CONTROLA O HEIGHT DO MODAL*/
					overflow: auto;
				}
					.modalTableListItems, .modalTableListItemsSelected {
						display: flex;
						border-bottom: 1px solid var(--border-color);
						padding: 10px;
					}


					.modalTableListItems:hover, .modalTableListItemsSelected {
						background-color: var(--solid-button-border-hover-color);
						cursor: pointer;
					}
						.modalTableListItemsSelected >  .modalTableListDetails > span {color: white;}
						.modalTableListItemsSelected >  .modalTableListDatailsIcon {color: white;}
						.modalTableListImg {
							width: 42px;
							height: 42px;
							border: 1px solid var(--border-color);
							object-fit: cover;
							border-radius: 100%;
						}
						.modalTableListDetails {	
							display: flex;
							flex-direction: column;
						}
							.modalTableListDatailsName {
								border: none;
								margin-left: 6px;
								flex: 1;
								outline: none;
								font-family: "Poppins", sans-serif;
								font-size: .8rem;
								color: var(--email-label);
							}
							.modalTableListDatailsAdrs {
								border: none;
								margin-left: 6px;
								flex: 1;
								outline: none;
								font-family: "Poppins", sans-serif;
								font-size: .8rem;
								color: var(--gray-text);
							}
							.modalTableListDatailsIcon {align-self: center; margin-left: auto;}


		.modalMiddle, .modalMiddleBlocked {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		.modalMiddleBlocked {
			display: none;
			opacity: .2;
			pointer-events: none;
		}
			.modalMiddle2collumns {
				display: grid;
				grid-template-columns: 49% 49%;
				gap: 5px;
				width: 100%;
				margin-bottom: 6px;
			}

				.formGroup, .formGroupDisabled {
					display: flex;
					flex-direction: column;
					gap: 6px;
				}

				.formGroupDisabled {
					opacity: .2;
					pointer-events: none;
				}

				.formGroupSpan {
					font-family: "Poppins", sans-serif;
					font-weight: 500;
					font-size: .8rem;
					color: var(--email-label);
					
				}

				.formGroupInput {
					width: 100%;
					height: 42px;
					padding: 0 12px;
					border-radius: 6px;
					background-color: var(--white);
					color: var(--foreground);
					font-size: 14px;
					outline: none;
					box-sizing: border-box;
				}

				.formGroup input:disabled {
					background-color: var(--background);
					color: var(--gray-text);
					cursor: not-allowed;
					border-color: var(--border-color);
				}
				.modalMiddleFooter { margin-top: auto;}
					.modalMiddleFooterStatus {
						display: flex;
						padding: 10px;
						margin: 10px 0;
						justify-content: space-between;
						border-radius: 4px;
						border: 1px solid var(--border-color);
						font-family: "Poppins", sans-serif;
						font-size: .8rem;
					}
						.modalMiddleFooterStatus p span {
							font-weight: 700;
							color: var(--blue);
						}

@media (max-width: 768px) { 
	.modalContainer {
		width: 400px;
		margin: auto;
		padding: 20px 20px;
	}
		.modalInputBox {display: none;}
		.modalTableBoxTitle {font-size: 0.75rem;}

	.modalMiddle {
		width: 100%;
		flex-direction: column;
	}
		.modalMiddle2collumns {
			margin: 20px 0;
		}
}

input {outline: none;}