

.SuccessAlert {
	display: flex;
	align-items: center;
	position: absolute;
	right: 10px;
	width: 300px;
	top: 10px;
	background-color: var(--success-alert-background);
	border: 1px solid var(--success-alert-border-color);
	border-left: 5px solid var(--success-icon-color);
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
	animation: slideDown 0.5s ease-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
	.SuccessIcon {
		color: var(--success-icon-color);
		margin-right: 10px;
		font-size: 60px;
	}

	.SuccessText {
		width: 80%;
		font-family: "Poppins", sans-serif;
  		font-style: bold;
		display: flex;
		flex-direction: column;
	}
		.SuccessTitle {
			text-transform: uppercase;
			font-size: 11px;
			color: var(--success-alert-title);
			font-weight: bold;
			margin-bottom: 0px;
		}
		.ErrorMessage {
			font-size: 11px;
			color: var(--success-alert-message);
		}