
.establishmentBasicForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
	.establishmentBasicFormHeader {
		border-radius: 5px;
		padding: 1rem;
		margin-bottom: 15px;
		background-color: var(--basic-establishment-data-form-header-background);
	}
		.establishmentBasicFormHeaderTitle {
			font-size: 0.92rem;
			font-weight: 600;
			color: var(--basic-establishment-data-form-header-title);	
			font-family: "Poppins", sans-serif;
		}
		.establishmentBasicFormHeaderSubtitle {
			width: 100%;
			font-size: .77rem;
			font-weight: 400;
			color: var(--basic-establishment-data-form-header-subtitle);
			font-family: "Poppins", sans-serif;
		}

	.establishmentBasicFormTwoColumns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 10px 0;
	}