

.colorPickerContainer {
	width: 100%;
	display: flex;
	padding: 10px 20px;
	border: 1px solid var(--color-picker-border);
	background-color: var(--color-picker-background);
	border-radius: 4px;
}
	.colorPickerLegend {
		font-family:"Poppins",sans-serif;
		font-weight: 600;
		font-size:.8rem;
		padding: 0 12px;
		text-align: right;
		color: var(--color-picker-legend-color);
	}

	.colorPickerLabel {
		font-family:"Poppins",sans-serif;
		display: flex;
		font-size: .8rem;
		width: 100%;
		border-radius: 4px;
		align-items: center;
		flex-direction: row;
		gap: 5px;
	}

	.colorPickerLabel input[type="color"] {
		appearance: none;
		width: 22px;
		height: 22px;
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
	}

		.colorPickerLabel input[type="color"]::-webkit-color-swatch-wrapper {padding: 0;}
		.colorPickerLabel input[type="color"]::-webkit-color-swatch {border: none;border-radius: 50%;}