

.nameInput {
	display: flex;
	flex-direction: column;
    width: 100%;
}
	.nameLabel {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: .8rem;
		color: var(--name-label);
		margin-bottom: 5px;
	}

	.nameField, .textArea {
        font-family: 'Poppins';
		border: 1px solid var(--name-input-border);
		border-radius: 5px;
		font-size: 1rem;
		padding: 10px 10px;
		background: var(--name-input-background);
		outline: var(--name-input-border);
        resize: none;
		color: var(--name-input-foreground);
	}


	.nameField::placeholder {
		color: var(--name-input-placeholder);
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: .8rem;
	}

	.nameError {
		color: var(--name-error);
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: .7rem;
		margin-top: 5px;
		text-align: right;
	}
