
.passwordInput {
	display: flex;
	flex-direction: column;
}
	.passwordLabel {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: var(--password-label);
		margin-bottom: 5px;
	}
	.passwordFieldContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		border: 1px solid var(--password-input-border);
		border-radius: 5px;
		background: var(--password-input-background);
		outline: var(--password-input-border);
		color: var(--password-input-foreground);
		width: 100%;
	}
		.passwordField {
			background: transparent;
			outline: none;
			border: none;
			padding: 10px 10px;
			width: 90%;
			font-size: 12px;	
		}
		.passwordField::placeholder {
			color: var(--password-input-placeholder);
			font-family: "Poppins", sans-serif;
			font-weight: 300;
			font-size: 12px;
		}
		.passwordToggle {
			width: 60px;
			cursor: pointer;
			color: var(--password-input-placeholder);
		}
	.passwordError {
		color: var(--password-error);
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 10px;
		margin-top: 5px;
		text-align: right;
	}

	.recoverPassword {
		width: 150px;
		border: none;
		background: transparent;
		outline: none;
		margin-left: auto;
		color: var(--password-toggle-foreground);
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 11px;
		margin-top: 5px;
		text-align: right;
		cursor: pointer;
		text-decoration: underline;
	}
