* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
	width: 100vw;
	min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
	font-family: "Poppins", sans-serif;
	font-size: 15px;
}


.appMain {
	display: flex;
	width: 100%;
	min-height: 100vh;
	padding: 10px 5px;
	background-color: #E4E8ED;
}

@media (max-width: 768px) {
	.appMain { flex-direction: column;}
}

