:root {
	--blue: #135184;
	--red: #e74c3c;
	--green: #2f9e44;
	--green-light: #d4edda;
	--red-light: #f8d7da;
	--yellow: #f1c40f;
	--white: #fff;
	

    --background: #f5f5f5;
    --foreground: #111111;
    --card-background: #64635e;
    --card-foreground: #f0efeb;
	--gray-text: #a3a3a3;
	--dark-gray-text: #7e7e7e;
	--blue-text: #135184;
	--red-text: #e74c3c;
	--border-color: #d4d4d4;
	--background-cards: #efefef;
	--text-secondary: #666666;


	/* ===== LANDING PAGE ===== */
	--landing-background: var(--background);
	--landing-text-secondary: #666666;
	--landing-card-background: #ffffff;
	--landing-card-border: #d4d4d4;
	--landing-primary: #135184;
	--landing-glass-background: rgba(255,255,255,0.55);
	--landing-glass-border: rgba(255,255,255,0.25);
	--landing-glass-shadow: rgba(31,38,135,0.10);
	--landing-icon-background: #135184;
	--landing-icon-color: #f8f8f8;
	--landing-feature-image-border-color: #135184;

	/* ===== PLAN CARD ===== */
	--plan-card-background:#ffffff;
	--plan-card-border:#d4d4d4;
	--plan-card-shadow:rgba(0,0,0,0.08);
	--plan-card-highlight-border:#135184;
	--plan-card-title:#135184;
	--plan-card-price:#135184;
	--plan-card-benefict:#444444;
	--plan-card-check:#2f9e44;
	--plan-card-badge-background:#135184;
	--plan-card-badge-text:#ffffff;
	--plan-card-button-border:#135184;
	--plan-card-button-text:#135184;
	--plan-card-button-hover:rgba(19,81,132,0.08);


    /* ===== SOLID BUTTON ===== */
    --solid-button-background: #135184;
    --solid-button-border-color: #135184;
    --solid-button-foreground: #ffffff;
    --solid-button-hover-background: #3979ad;
    --solid-button-hover-foreground: #ffffff;
    --solid-button-border-hover-color: #3979ad;

    /* ===== EMAIL INPUT ===== */
    --email-label: #333333;
    --email-input-border: #cccccc;
    --email-input-background: #ffffff;
    --email-input-foreground: #333333;
    --email-input-placeholder: #999999;
    --email-error: #e74c3c;

	/* ===== NAME INPUT ===== */
    --name-label: #333333;
    --name-input-border: #cccccc;
    --name-input-background: #ffffff;
    --name-input-foreground: #333333;
    --name-input-placeholder: #999999;
    --name-error: #e74c3c;


	/* ===== COMBO BOX INPUT ===== */
    --combo-label: #333333;
    --combo-input-border: #cccccc;
    --combo-input-background: #ffffff;
    --combo-input-foreground: #333333;
    --combo-input-placeholder: #999999;
    --combo-error: #e74c3c;
	--combo-icon-color: #999999;
	--combo-options-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	--combo-item-background_1: #ffffff;
	--combo-item-background_2: #f5f5f5;



	/* ===== PHONE INPUT ===== */
    --phone-label: #333333;
    --phone-input-border: #cccccc;
    --phone-input-background: #ffffff;
    --phone-input-foreground: #333333;
    --phone-input-placeholder: #999999;
    --phone-error: #e74c3c;

	/* ===== LOCATION INPUT ===== */
    --location-label: #135184;
	--location-label-background: #EDEDED;
	--location-input-label: #333333;
    --location-select-border: #cccccc;
    --location-select-background: #ffffff;
    --location-select-foreground: #333333;
    --location-select-placeholder: #999999;

    /* ===== PASSWORD INPUT ===== */
    --password-label: #333333;
    --password-input-border: #cccccc;
    --password-input-background: #ffffff;
    --password-input-foreground: #333333;
    --password-input-placeholder: #999999;
    --password-error: #e74c3c;
    --password-toggle-foreground: #999999;


	/* ===== CEP INPUT ===== */
    --cep-label-color: #135184;
    --cep-input-border: #cccccc;
    --cep-input-background: #ffffff;
    --cep-input-foreground: #333333;
    --cep-input-placeholder: #999999;
    --cep-input-container-background: #f5f5f5;
	--cep-input-border-color: #cccccc;
	--cep-input-color: #333333;
	--cep-input-background-color: #ffffff;
    --cep-error-color: #e74c3c;
	--cep-button-background-color: #135184;
	--cep-button-color: #ffffff;
	--cep-button-border-color: #135184;
	--cep-button-background-color-hover: #3979ad;
	--cep-button-color-hover: #ffffff;
	--cep-button-border-color-hover: #3979ad;
	--cep-button-background-color-searching: #cccccc;
	--cep-button-color-searching: #666666;
	--cep-button-border-color-searching: #cccccc;


	/* ===== COLOR PICKER ===== */
	--color-picker-background: #fff;
	--color-picker-border: #cccccc;
	--color-picker-ball-border: #212121;
	--color-picker-legend-color: #3979ad;
	--color-picker-icon-color: #787a7c;
	--color-picker-image-border: #cccccc;
	--color-picker-error-color: #f51d05;
	--color-picker-placeholder: #999999;
	--color-picker-loading-background: rgba(0, 0, 0, 0.5);
	--color-picker-loading-icon-color: #fff;



	/* ==== upload logo ==== */
	--upload-logo-background: #f5f5f5;
	--upload-logo-border: #cccccc;
	--upload-logo-label-color: #333333;
	--upload-logo-icon-color: #787a7c;
	--upload-logo-image-border: #cccccc;
	--upload-logo-error-color: #f51d05;
	--upload-logo-placeholder: #999999;
	--upload-logo-loading-background: rgba(0, 0, 0, 0.5);
	--upload-logo-loading-icon-color: #fff;

    /* ===== LOGIN PAGE ===== */
    --login-background: #f5f5f5;
    --login-container-background: #ffffff;
    --login-title: #135184;
    --login-subtitle: #666666;
    --login-left-side-gradient: rgba(15, 55, 107, 0.877);
    --login-left-side-gradient-transparent: transparent;
    --login-left-side-title: #ffffff;
    --login-left-side-subtitle: #135184;
    --login-left-side-text: #ffffff;
	--login-mobile-title: #505253;
	--login-mobile-title: #505253;
	


	/* ===== SIGNUP PAGE ===== */
    --signup-background: #f5f5f5;
    --signup-container-background: #ffffff;
    --signup-title: #135184;
    --signup-subtitle: #666666;
    --signup-left-side-gradient: rgba(15, 55, 107, 0.877);
    --signup-left-side-gradient-transparent: transparent;
    --signup-left-side-title: #ffffff;
    --signup-left-side-subtitle: #135184;
    --signup-left-side-text: #ffffff;
	--signup-input-group-border: #cccccc;
	--signup-terms-link: #135184;
	--signup-terms-link-hover: #3979ad;
	--signup-terms-label: #666666;
	--signup-mobile-title: #505253;


	/* ===== ALERTS [error]===== */
	--error-alert-background: #f8d7da;
	--error-alert-title: #111111;
	--error-alert-message: #303030;
	--error-alert-border-color: #f5c6cb;
	--error-icon-color: #721c24;
	--error-alert-border: #f5c6cb;

	/* ===== ALERTS [success]===== */
	--success-alert-background: #d4edda;
	--success-alert-title: #111111;
	--success-alert-message: #303030;
	--success-alert-border-color: #c3e6cb;
	--success-icon-color: #155724;
	--success-alert-border: #c3e6cb;


	/* ========= panel ========= */
	--panel-background: #fafafa;
	--panel-border-color: #d4d4d4;
	--panel-button-notification-count-background: rgb(188, 40, 40);
	--panel-button-notification-count-color: #ffffff;
	--panel-button-toast-hover-text-background: #3e3e3e;
	--panel-button-toast-hover-text-color: #f4f4f4;
	--panel-button-active-color: #135184;
	--panel-button-inactive-color: #7E7E7E;
	--panel-button-hover-color: #4278a3;
	--panel-button-disabled-color: #cccccc;


	/* ========= breadcrumb ========= */
	--breadcrumb-color: #afafaf;


	/* ======= estableshments ======= */
	--establishment-page-head-background: #ffffff;
	--establishment-page-head-title-color: #135184;
	--establishment-page-head-subtitle-color: #666666;
	--establismente-page-header-button-background: #135184;
	--establismente-page-header-button-color: #ffffff;
	--establishment-table-background: #ffffff;
	--establishment-table-header-background: #ffffff;
	--establishment-table-header-color: #135184;
	--establishment-table-header-border-color:#d4d4d4;
	--establishment-table-row-background: #ffffff;
	--establishment-table-row-color: #333333;
	--establishment-table-row-hover-background: #f5f5f5;
	--establishment-table-row-hover-color: #333333;
	--establishment-table-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	--establishment-table-action-button-edit-color: #135184;
	--establishment-table-action-button-delete-color: #dc3545;
	--establishment-table-action-button-edit-hover-color: #3979ad;
	--establishment-table-action-button-delete-hover-color: #c82333;


	/* ======= establishment dashboard card ======= */
	--establishment-dashboard-card-background: #ffffff;
	--establishment-dashboard-card-border-color: #d4d4d4;
	--establishment-dashboard-card-color: #333333;
	--establishment-dashboard-card-title-color: #333333;
	--establishment-dashboard-card-info-background: #f5f5f5;
	--establishment-dashboard-card-info-item-label-color: #666666;
	--establishment-dashboard-card-info-item-value-color: #135184;



	/* ===== multistep form ===== */
	--multistep-form-background: #ffffff;
	--multistep-form-shadow: 0 10px 25px rgba(0,0,0,.08);
	--multistep-form-line-color: #ddd;	
	--multistep-form-error-border-color: #dc3545;
	--multistep-form-step-circle-color-active: #ededed;
	--multistep-form-step-circle-background-active: #135184;
	--multistep-form-step-circle-color-inactive: #818181;
	--multistep-form-step-circle-background-inactive: #c0c0c0;
	--multistep-form-content-background: #ffffff;
	--multistep-form-content-border-color: #d5d5d5;
	--multistep-form-border-color: #d4d4d4;
	--multistep-form-color: #333333;
	--multistep-form-button-primary-background: #135184;
	--multistep-form-button-primary-color: #ffffff;
	--multistep-form-button-secondary-background: #ececec;
	--multistep-form-button-secondary-color: #333333;
	--multistep-form-loading-background: #f4f4f4;
	--multistep-form-loading-text-icon-color: #333333;
	--multistep-form-button-disabled-background: #cccccc;
	--multistep-form-button-disabled-color: #666666;


	/* ===== basic establishment data form ===== */
	--basic-establishment-data-form-header-background: #f5f5f5;
	--basic-establishment-data-form-header-color: #333333;
	--basic-establishment-data-form-header-title: #135184;
	--basic-establishment-data-form-header-subtitle: #666666;
	--basic-establishment-data-form-header-icon-color: #135184;
	--basic-establishment-data-form-header-border: #d4d4d4;

	/* === adress establishment data form === */
	--adress-establishment-data-form-header-background: #f5f5f5;
	--adress-establishment-data-form-header-color: #333333;
	--adress-establishment-data-form-header-title: #135184;
	--adress-establishment-data-form-header-subtitle: #666666;
	--adress-establishment-data-form-header-icon-color: #135184;
	--adress-establishment-data-form-header-border: #d4d4d4;


	/* === visual establishment data form === */
	--visual-establishment-data-form-header-background: #f5f5f5;
	--visual-establishment-data-form-header-color: #333333;
	--visual-establishment-data-form-header-title: #135184;
	--visual-establishment-data-form-header-subtitle: #666666;
	--visual-establishment-data-form-header-icon-color: #135184;
	--visual-establishment-data-form-header-border: #d4d4d4;



	/*  ==== customer since card ==== */
	--customer-since-card-background: transparent;
	--customer-since-card-border-color: #135184;
	--customer-since-card-name-color: #333333;
	--customer-since-card-date-color: #666666;
	--customer-since-card-amount-color: #135184;
	--customer-since-card-color: #333333;

	/* ======= ball name ======= */
	--ball-name-background: #007bff;
	--ball-name-color: #ffffff;


	/* ======= onboarding ======= */
	--onboarding-card-background-color: #ffffff;
	--onboarding-card-shadow-color: rgba(0, 0, 0, 0.1);
	--onboarding-banner-background-color: rgba(241, 245, 249, 0.9);
	--onboarding-banner-gradient-color: rgba(96, 115, 131, 0.08);
	--onboarding-title-color: #135184;
	--onboarding-close-button-color: #94a3b8;
	--onboarding-close-button-hover-background-color: #f1f5f9;
	--onboarding-close-button-hover-color: #0f172a;
	--onboarding-content-title-color: #135184;
	--onboarding-content-description-color: #475569;
	--onboarding-button-client-background-color: rgba(241, 245, 249, 0.9);
	--onboarding-button-client-hover-background-color: #e2e8f0;
	--onboarding-button-client-color: #334155;
	--onboarding-button-client-hover-color: #0f172a;
	--onboarding-button-professional-background-color: #135184;
	--onboarding-button-professional-hover-background-color: #0f4169;
	--onboarding-button-professional-color: #ffffff;
	--onboarding-button-professional-hover-color: #ffffff;
	--onboarding-footer-border-color: rgba(241, 245, 249, 0.9);
	--onboarding-checkbox-border-color: #94a3b8;
	--onboarding-checkbox-checked-color: #135184;
	--onboarding-checkbox-label-color: #64748b;
	--onboarding-checkbox-label-hover-color: #334155;


	/* ======= card chose plan  ======= */
	--chose-plan-container-background-color: #ffffff;
	--chose-plan-container-shadow-color: rgba(0, 0, 0, 0.1);
	--chose-plan-loading-overlay-background-color: rgba(255, 255, 255, 0.75);
	--chose-plan-loading-primary-color: #135184;
	--chose-plan-loading-text-color: #475569;
	--chose-plan-loading-error-icon-color: #ef4444;
	--chose-plan-loading-error-text-color: #ef4444;
	--chose-plan-loading-error-back-link-color: #0f172a;

	--chose-plan-close-button-color: #94a3b8;
	--chose-plan-close-button-hover-background-color: #f1f5f9;
	--chose-plan-close-button-hover-color: #0f172a;
	--chose-plan-pro-title-background-color: rgba(96, 115, 131, 0.1);
	--chose-plan-pro-title-color: #135184;
	--chose-plan-features-title-color: #135184;
	--chose-plan-features-description-color: #475569;
	--chose-plan-features-subtitle-color: #135184;
	--chose-plan-features-cta-color: #4a4d50;
	--chose-plan-features-list-background-color: rgba(241, 245, 249, 0.9);
	--chose-plan-features-list-item-color: #334155;
	--chose-plan-feature-icon-color: #10b981;
	--chose-plan-swiper-shadow-color: rgba(0, 0, 0, 0.1);
	--chose-plan-swiper-navigation-color: #135184;
	--chose-plan-swiper-pagination-active-background-color: #135184;

	/* ====== delete modal ====== */
	--delete-modal-background-color: #ffffff;
  	--delete-modal-overlay-background-color: rgba(0, 0, 0, 0.4);
  	--delete-modal-text-color-primary: #333333;
	--delete-modal-text-color-secondary: #7f8c8d;
	--delete-modal-text-color-danger: #ff4d4d;
	--delete-modal-border-color-light: #f5f5f5;
	--delete-modal-border-color-input: #cccccc;
	--delete-modal-captcha-box-background: #f1f2f6;
	--delete-modal-captcha-text-background: #ffcccc;
	--delete-modal-captcha-text-color: #ff4d4d;
	--delete-modal-button-cancel-background: #ffffff;
	--delete-modal-button-cancel-text-color: #95a5a6;
	--delete-modal-button-cancel-border-color: #cccccc;
	--delete-modal-button-confirm-background-active: #ff8080;
	--delete-modal-button-confirm-background-disabled: #ffb3b3;
	--delete-modal-button-confirm-text-color: #ffffff;
	--delete-modal-border-radius-standard: 8px;
	--delete-modal-border-radius-small: 4px;
	--delete-modal-loading-overlay-background-color:  rgba(96, 115, 131, 0.1);
	--delete-modal-loading-text-color: #ff4d4d;

	/* ==== bradingCard ==== */
	--branding-primary: #135184;
	--branding-secondary: #475569;
	--branding-success: #27b54a;
	--branding-border: #e2e8f0;
	--branding-surface: #ffffff;


    /*==== services page ==== */
    --service-page-header-background: #ffffff;
    --service-page-header-title: #135184; 
    --service-page-header-subtitle: #616161; 
    --service-page-table-cell-title: #135184;
    --service-page-table-cell-duration: #616161;
}



[data-theme='dark'] {
    --background: #1a0202;
    --foreground: #faf5f5;
}
