:root {
    --background: #fafafa;
    --foreground: #111111;
    --card-background: #64635e;
    --card-foreground: #f0efeb;

    /* ===== SOLID BUTTON ===== */
    --solid-button-background: #135184;
    --solid-button-border-color: #135184;
    --solid-button-foreground: #ffffff;
    --solid-button-hover-background: #3979ad;
    --solid-button-hover-foreground: #ffffff;
    --solid-button-border-hover-color: #3979ad;

    /* ===== EMAIL INPUT ===== */
    --email-label: #333333;
    --email-input-border: #cccccc;
    --email-input-background: #ffffff;
    --email-input-foreground: #333333;
    --email-input-placeholder: #999999;
    --email-error: #e74c3c;

    /* ===== PASSWORD INPUT ===== */
    --password-label: #333333;
    --password-input-border: #cccccc;
    --password-input-background: #ffffff;
    --password-input-foreground: #333333;
    --password-input-placeholder: #999999;
    --password-error: #e74c3c;
    --password-toggle-foreground: #999999;

    /* ===== LOGIN PAGE ===== */
    --login-background: #f5f5f5;
    --login-container-background: #ffffff;
    --login-title: #135184;
    --login-subtitle: #666666;
    --login-left-side-gradient: rgba(15, 55, 107, 0.877);
    --login-left-side-gradient-transparent: transparent;
    --login-left-side-title: #ffffff;
    --login-left-side-subtitle: #135184;
    --login-left-side-text: #ffffff;
}



[data-theme='dark'] {
    --background: #1a0202;
    --foreground: #faf5f5;
}
