
.establishmentDashboardCard, .establishmentDashboardCardVoid {
    display: flex;
    flex-direction: column;
	height: 700px;
	overflow: auto;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--establishment-dashboard-card-background);
    border: 1px solid var(--establishment-dashboard-card-border-color);
    border-radius: 0.5rem;
}

.establishmentDashboardCardVoid {
    justify-content: center;
    align-items: center;
}
    .establishmentDashboardCardVoid img {
        width: 56px;
        opacity: .6;
    }

    .establishmentDashboardCardVoid p {
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        color: #d3d3d3;
    }

	.establishmentDashboardCardTitle {
    	color: var(--establishment-dashboard-card-title-color);
		font-family: 'Poppins', sans-serif;
		font-size: .75rem;
		font-weight: 500;
		padding: 5px 0;
		border-bottom: 1px solid var(--establishment-dashboard-card-border-color);
		text-transform: uppercase;
	}

	.establishmentDashboardCardInfo {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
		.establishmentDashboardCardInfoItem {
			width: 50%;
			background-color: var(--establishment-dashboard-card-info-background);
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 10px;
			border-radius: 10px;
		}
			.establishmentDashboardCardInfoItemLabel {
				color: var(--establishment-dashboard-card-info-item-label-color);
				font-family: 'Poppins', sans-serif;
				font-size: .73rem;
				font-weight: 600;
			}
			.establishmentDashboardCardInfoItemValue {
				color: var(--establishment-dashboard-card-info-item-value-color);
				font-family: 'Poppins', sans-serif;
				font-size: .95rem;
				font-weight: 600;
			}
	.establishmentDashboardCardTopClients {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
	}

	.bestServices {
		height: 300px;
	}


@media(max-width:768px) { 
	.establishmentDashboardCard, .establishmentDashboardCardVoid {display: none;}
}
