
.establishmentDashboardCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--establishment-dashboard-card-background);
    border: 1px solid var(--establishment-dashboard-card-border-color);
    border-radius: 0.5rem;
}
	.establishmentDashboardCardTitle {
    	color: var(--establishment-dashboard-card-title-color);
		font-family: 'Poppins', sans-serif;
		font-size: .8rem;
		font-weight: 600;
		padding: 10px 0;
		border-bottom: 1px solid var(--establishment-dashboard-card-border-color);
		text-transform: uppercase;
	}

	.establishmentDashboardCardInfo {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
		.establishmentDashboardCardInfoItem {
			width: 50%;
			background-color: var(--establishment-dashboard-card-info-background);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px 0;
			border-radius: 20px;
		}
			.establishmentDashboardCardInfoItemLabel {
				color: var(--establishment-dashboard-card-info-item-label-color);
				font-family: 'Poppins', sans-serif;
				font-size: .8rem;
				font-weight: 600;
			}
			.establishmentDashboardCardInfoItemValue {
				color: var(--establishment-dashboard-card-info-item-value-color);
				font-family: 'Poppins', sans-serif;
				font-size: 1.2rem;
				font-weight: 600;
			}
	.establishmentDashboardCardTopClients {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
	}