
.establishmentTable {
    display: flex;
	width: 100%;
	height: 75vh;
    flex-direction: column;
}

	.establishmentTableHeader {
		display: grid;
		grid-template-columns: 30% 30% 20% 10% 10%;
		border-radius: 6px;
		margin-bottom: 10px;
		border: 2px solid var(--establishment-table-header-border-color);
		background-color: var(--establishment-table-header-background);
		box-shadow: var(--establishment-table-shadow);
	}
		.establishmentHeadTableCell {
			font-family: "Poppins", sans-serif;
			font-weight: 600;
			font-size: .8rem;
			line-height: 20px;
			color: var(--establishment-table-header-color);
			display: flex;
			align-items: center;
			padding: 4px 16px;
			border-left: 2px solid var(--establishment-table-header-border-color);
		}
		.establishmentHeadTableCell:first-child { border-left: none;}


	.establishmentTableBody {
		display: flex;
		height: 100%;
		overflow-y: auto;
		flex-direction: column;
		background-color: var(--establishment-table-background);
		border-radius: 6px;
		box-shadow: var(--establishment-table-shadow);
		list-style: none;
	}
		.establishmentTableBody::-webkit-scrollbar { width: 3px;}
		.establishmentTableBody::-webkit-scrollbar-track { background: var(--establishment-table-background); }
		.establishmentTableBody::-webkit-scrollbar-thumb {
			background: var(--establishment-table-header-border-color);
			border-radius: 4px;
		}

		.establishmentTableRow {
			display: grid;
			grid-template-columns: 30% 30% 20% 10% 10%;
			border-bottom: 2px solid var(--establishment-table-header-border-color);
		}
			.establishmentTableCell {
				font-family: "Poppins", sans-serif;
				font-weight: 400;
				font-size: .8rem;
				line-height: 20px;
				color: var(--establishment-table-text-color);
				display: flex;
				align-items: center;
				border-left: 2px solid var(--establishment-table-header-border-color);
				padding: 10px 16px;
			}

			.establishmentName {
				padding: 10px;
				display: grid;
				align-items: center;
				grid-template-columns: 40px 1fr;
			}
				.establishmentIcon {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.establishmentInfo {
					font-family: "Poppins", sans-serif;
					font-size: .9rem;
					margin-left: 10px;
					display: flex;
					font-weight: 500;
					color: var(--establishment-table-text-color);
					flex-direction: column;
				}
				.establishmentInfo small {
					font-size: .8rem;
					font-weight: 300;
					color: var(--establishment-table-text-color);
				}

			.actions {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				.actions button {
					margin: 0 5px;
					background-color: transparent;
					border: none;
					cursor: pointer;
					color: var(--establishment-table-action-button-edit-color);
				}
				.actions button:hover {color: var(--establishment-table-action-button-edit-hover-color);}
				.actions button:last-child {color: var(--establishment-table-action-button-delete-color);}
				.actions button:last-child:hover {color: var(--establishment-table-action-button-delete-hover-color);}

		.establishmentTableRow:hover {
			cursor: pointer;
			background-color: var(--establishment-table-row-hover-background);
		}