
.solidButton {
	width: 100%;
	background-color: var(--solid-button-background);
	border: 1px solid var(--solid-button-border-color);
	color: var(--solid-button-foreground);
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
  	font-style: bold;
	font-size: 12px;
}

	.solidButton:hover {
		background-color: var(--solid-button-hover-background);
		color: var(--solid-button-hover-foreground);
		border-color: var(--solid-button-border-hover-color);
	}


.solidButton:disabled {
	background-color: var(--solid-button-background);
	border-color: var(--solid-button-border-color);
	color: var(--solid-button-foreground);
	opacity: 0.6;
	cursor: not-allowed;
}